<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lastproject.used_item_market">

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Used_item_market">
        <activity
            android:name=".SettingPage"
            android:exported="false" />
        <activity
            android:name=".PostPage"
            android:exported="false" />
        <activity
            android:name=".AllPage"
            android:exported="false" />
        <activity
            android:name=".SharePage"
            android:exported="false" />
        <activity
            android:name=".SellPage"
            android:exported="false" />
        <activity
            android:name=".BuyPage"
            android:exported="false" />
        <activity
            android:name=".SetInFo"
            android:exported="false" />
        <activity
            android:name=".SignUpMap"
            android:exported="true" />
        <activity
            android:name=".SignUp"
            android:exported="true" />
        <activity
            android:name=".Login"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true" />
    </application>

</manifest>